/* Gaya untuk semua elemen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden; /* Menghilangkan scrolling pada body dan html */
}

/* Style untuk header */
.header {
    background-color: transparent; /* Latar belakang transparan */
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; /* Mengatur z-index untuk memastikan header di atas konten lain */
}

/* Style untuk logo */
.logo img {
    width: 64px; /* Sesuaikan dengan ukuran logo Anda */
    height: auto; /* Biarkan tinggi disesuaikan dengan lebar */
}

/* Style untuk menu */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Membuat item menu sejajar secara vertikal */
}

.menu ul li {
    margin-right: 30px;
    display: flex; /* Menjadikan setiap item menu sebagai flex item */
    align-items: center; /* Mengatur item menu sejajar secara vertikal */
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
    text-transform: uppercase;
    letter-spacing: 1px;
}

.github-logo {
    filter: invert(100%);
}

/* Gaya untuk elemen dengan kelas .main */
/* Gaya untuk elemen utama (main) */
.main {
    background-image: url('properties/gambar/Background.png');
    background-size: cover;
    background-position: center;
    height: 100%; /* Menyesuaikan tinggi elemen utama dengan tinggi layar */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gaya untuk elemen dengan kelas .content-container */
.content-container {
    max-width: 800px; /* Menyesuaikan lebar konten */
    text-align: center; /* Pusatkan konten */
    padding: 20px; /* Tambahkan ruang di sekitar konten */
}

/* Gaya untuk elemen dengan kelas .content-title */
.content-title {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2; /* Sesuaikan sesuai kebutuhan */
    margin-bottom: 20px; /* Tambahkan jarak ke bawah */
}

/* Gaya untuk elemen dengan kelas .content-description */
.content-description {
    color: rgba(0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; /* Sesuaikan sesuai kebutuhan */
    margin-bottom: 30px; /* Tambahkan jarak ke bawah */
}

/* Gaya untuk elemen dengan kelas .content-button */
.content-button {
    width: 287px;
    height: 74px;
    flex-shrink: 0;
    background: white;
    backdrop-filter: blur(359.5px);
    color: orange;
    text-align: center;
    line-height: 44px; /* Memberikan efek vertikal tengah */
    text-decoration: none; /* Hilangkan dekorasi teks default */
    font-weight: bold;
    border-radius: 36px;
    display: inline-block; /* Menjadikan tombol sebagai inline block */
    padding: 10px 20px; /* Atur padding untuk memberikan ruang di sekitar teks */
    font-family: 'Open Sans', sans-serif; /* Gunakan font Latin */
    font-size: 28px;
    transition: all 0.3s ease; /* Animasi saat hover */
    cursor: pointer;
}

.content-button:hover {
    background-color: orange; /* Mengubah warna latar belakang saat hover */
    color: white;
}

.content-button:active {
    transform: translateY(2px); /* Memberikan efek tekan ke bawah saat tombol ditekan */
}

.footer {
    /* Gaya untuk footer */
    justify-content: space-between;
    width: 231px;
    background-color:transparent; /* Warna latar belakang transparan dengan opasitas 50% */
    padding: 20px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* Ruang dalam footer */
    text-align: right; /* Pusatkan teks */
    position: fixed; /* Footer akan tetap di bagian bawah layar */
    width: 100%; /* Lebar footer sesuai dengan lebar layar */
    bottom: 0; /* Letakkan footer di bagian bawah */

}

.footer-text {
    color: white; /* Warna teks hitam */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}