* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.header {
    background-color: transparent; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
}


.logo img {
    width: 64px; 
    height: auto; 
}


.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; 
}

.menu ul li {
    margin-right: 30px;
    display: flex; 
    align-items: center; 
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; 
    text-transform: uppercase;
    letter-spacing: 1px;
}

.github-logo {
    filter: invert(100%);
}

.main {
    background-image: url('https://raw.githubusercontent.com/ChristoliniAngelo/KucingKu-Web/49c2503efd74a095de6781eae4e5fd79b436851b/properties/gambar/Background.png');
    background-size: cover;
    background-position: center;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
}



.content-container {
    max-width: 800px;
    text-align: center;
    padding: 20px; 
}


.content-title {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2; 
    margin-bottom: 20px; 
}


.content-description {
    color: rgba(0, 0, 0);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5; 
    margin-bottom: 30px; 
}


.content-button {
    width: 287px;
    height: 74px;
    flex-shrink: 0;
    background: white;
    backdrop-filter: blur(359.5px);
    color: orange;
    text-align: center;
    line-height: 44px; 
    text-decoration: none; 
    font-weight: bold;
    border-radius: 36px;
    display: inline-block;
    padding: 10px 20px; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 28px;
    transition: all 0.3s ease; 
    cursor: pointer;
}

.content-button:hover {
    background-color: orange; 
    color: white;
}

.content-button:active {
    transform: translateY(2px); 
}

.footer {
    justify-content: space-between;
    width: 231px;
    background-color:transparent; 
    padding: 20px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-align: right; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 

}

.footer-text {
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}